$font-main: "Ubuntu", Arial, Helvetica, sans-serif;
$color-main: #282828;
$color-green: #76bc21;
$color-gray: #aeaeae;

* {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}